@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BTK AKADEMI </h1>
    <p>
        
        
        <a class="btn btn-primary" asp-controller="Course" asp-action="Apply"> Apply</a> 
 
        <!--- 
        <a class="btn btn-primary" href="Course/Apply"> Apply</a> 
        Buradaki "Course" yazısı case sensitive değil "course" veya "COURSE"
        olsa dahi çalışır-->
        <!---
        <a class="btn btn-primary" href="Course/Apply"> Apply</a> 
        bunu böyle kullanmak önerilmez, 10. satırdaki hali gibi olsun -> asp-controller = bu haliyle kullan
        -->
    </p>
</div>
